<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<hr />
	<p>
    Splurty was built by <a target="_blank" href="http://github.com/KareemRady">Kareem</a> An aspiring web developer 
  </p>
  <br />
  
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
  	<%= image_tag 'kareem.jpg', :class => 'img-responsive' %>
  </div>
  <div class= "col-xs-12 col-sm-7 col-sm-offset-1">
  	<h2>Kareem Rady</h2>
  	<br />
  	<p>
  		Kareem is a Systems Engineer with experience in various fields from Oil and gas drilling operation to Data Aquisitions , VOIP systems & IP networks.
  		He has a great passion for technology and loves learning new skills

  	</p>
  </div>


</div>
<br class="clear" />
<br />
<br />
<br />
<br />

